
body {
    min-width: 300px;
    /* position: relative; */
  }

.display {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

* *  {
  font-family: 'Merriweather', serif;
}


p {
  line-height: 2em;
}


br {
  user-select: none;
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + #about {
  padding-top: 50px;
}


.parallax-section {
  width: 100%;
  height: 500px;
  /* border: 20px solid red; */
  background-attachment: fixed !important;
  background-position: top !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  display: flex;
  align-items: center;
}


.parallax-content {
  text-align: center;
  width: 100%;
}





.title {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  padding: 40px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
  font-weight: bold;
}





@media only screen and (max-width: 767px)  {

  #first-row {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }

  #quote {
    font-size: 20px;
  }


  .parallax-section {
    background-size: auto !important;
    background-attachment: scroll !important;
  }


}




/*
.nav li a {
  color: white !important;
}

.nav:hover li a {
  color: #aaa !important;
  transition: 0.25s ease;
}

.nav:hover li a:hover {
  color: white !important;
  transition: 0.25s ease;
} */
